POSTGRES_DB=engineering_intelligence
POSTGRES_USER=engineering_intelligence
POSTGRES_PASSWORD=change-me
GITHUB_WEBHOOK_SECRET=change-me
APP_MODE=personal
DEMO_DATA_ENABLED=true
MINIMUM_COHORT_SIZE=3

